:root {
--balloon-font-size: 30px; 

}
html {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 100%;
  align-items: center;
  background-color: white;
  max-width: 900px;
  line-height: 1.4;
}

body {
  /* width:  900px;width:  900px; */
  align-items: center;
  justify-content: center;
  height:100%;
}
/*Header*/
header {
  text-align: center;
}
header > hr {
  width: 400px;
  border-top: 4px solid limegreen;
}

.title-pagesubtitle {
  font-style: italic;
  font-size: 1.8em;
}

.balloon {
 /*font-size: 30px; */
 font-size: var(--balloon-font-size) ;
 text-align: center;
 height: 100%;


}
.container{
margin-top: 70px;
}

.slowtransition {
transition: font-size 2s; 
}
